<div container>
  <h1>Weather data</h1>
  <div row>
    <div column="4">
      <button (click)="dayChanges$.next(-1)">{{previousDate$ | async | date:'longDate'}}</button>
    </div>
    <div column="4" class="today">
      {{currentDate$ | async | date:'longDate'}}
    </div>
    <div column="4" class="next">
      <button (click)="dayChanges$.next(1)" [disabled]="(daysFromToday$ | async)>=0">{{nextDate$ | async | date:'longDate'}}</button>
    </div>
  </div>
  <div container class="center">
      <div row class="temperature">
          {{(weatherData$ | async)?.temperature}}°C
      </div>
      <div row>
          <div column="6">
              Rain? {{(weatherData$ | async)?.rain ? 'Yes' : 'No' }}
          </div>
          <div column="6">
              {{(weatherData$ | async)?.shortDescription }}
          </div>
      </div>
  </div>
</div>
